@import '~normalize-scss';
@include normalize();
@import './helpers.scss';
@import './variables.scss';



*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
button {
    cursor: pointer;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    line-height: 1.5;
    letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
}
a, button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    padding: 0;
    letter-spacing: 0.5px;
}
a {
	  text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: calcRem(540);
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        max-width: calcRem(850);
        padding-right: 0;
        padding-left: 0;
        width: 85%;
    }
}

.wrapper__body {
    min-height: 100vh;
    background-color: $color-dirty-white;
}

// Vuejs transition animations


.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease-in;
}
.fade-enter, .fade-leave-to {
    transition: opacity .3s ease-out;
    opacity: 0;
}

.error-fade-enter-active, .error-fade-leave-active {
    transition: opacity .5s;
}
.error-fade-enter, .error-fade-leave-to {
    opacity: 0;
}



